body{
    background-color: #17181c;
    font-family: Sansation;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: #78797d;
    text-decoration: none;
    padding-left: 1vw;
    padding-top: 1.9vh;
}

/*.main {
    background-color: #17181c;
    width: 97vw;
    height: 97vh;
}*/     

.top{
    background-color: #17181c;
    width: 100vw;
    height: 15vh;
    font-family: Sansation;
    float: left;
}

.logo{
    background-color: #17181c;
    height: 10vh;
    width: 10vw;
    border-top: 1vh solid #17181c;
    border-left: 1vw solid #17181c;
    border-bottom: 2vh solid #17181c;
    float: left;
}

.menuleft{
    background-color: #17181c;
    border-bottom: 2px solid #393a3e;
    width: 23vw;
    height: 6vh;
    float: left;
    color: #78797d;
    text-align: center;
    font-size: 25px;
}

.menuright{
    background-color: #17181c ;
    border-bottom: 2px solid #393a3e;
    color: #78797d;
    width: 66vw;
    height: 6vh;
    float: left;
    overflow: hidden;
}

.search{
    background-color: #101013;
    width: 65vw;
    height: 5vh;
    float: right;
}

.tab{
    float: left;
    padding-left: 3vw;
    padding-top: 2vh;
    font-size: 14px;
}

.media{
    float: left;
}

a:hover{
    color: #fa9127;
}

.left{
    background-color: #17181c;
    float: left;
    height: 60vh;
    width: 33vw;
}

.text1{
    color: white;
    font-size: 60px;
    text-align: left;
    font-weight: bold;
    margin-top: 20vh;
    margin-left: 2vw;
}

.look {
    margin-top: 2vh;
    height: 9vh;
    width: 30vw;
    float: left;
}

.line{
    height: 2.7vh;
    width: 4vw;
    float: left;
    background-color: #17181c;
    border-bottom: 2px solid #fa9127;
    margin-left: 2vw;
}

.looktext{
    color: #fa9127;
    padding-top: 2vh;
    width: 20vw;
    height: 2vh;
    background-color: #17181c;
    float: left;
    margin-left: 2vw;
}

.buttonleft{
    background-color: #17181c;
    height: 15vh;
    width: 35vw;
    float: left;
}

.button{
    background-color: #fa9127;
    height: 7vh;
    width: 12vw;
    border-radius: 0px 25px 25px 0px;
}

.buttontext{
    color: black;
    font-size: 17.5px;
    font-weight: bold;
    font-family: Sansation;
    float: left;
    padding-left: 1vw;
    padding-top: 2.4vh;
}

.fire{
    float: left;
    padding-left: 2vw;
    padding-top: 2.4vh;
}

.right{
    background-color: #4d2409;
    height: 60vh;
    width: 65vw;
    float: right;
}

.blankspace{
    background-color: #17181c;
    width: 100vw;
    height: 20vh;
    float: left;
}

.footer{
    width: 100vw;
    height: 5vh;
    line-height: 4.7vh;
    background-color: #17181c;
    float: left;
    text-align: center;

}

.mediaa{
    font-size: 15px;
    padding-left: 1.5vw;
    text-align: center;
    display: inline;
    padding-top: 1vh;
    color:#78797d;
}

.mediaa:hover{
    color: #fa9127;
    cursor: pointer;
}
