{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block css_styles %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}
</head>
<body>
    <nav>
        <ol>
            <li>LInk</li>
            <li>LInk</li>
            <li>LInk</li>
            <li>LInk</li>
            <li>LInk</li>
        </ol>
    </nav>
    {% block content %}{% endblock %}


    <script src="{% static 'js/hello.js' %}"></script>
</body>
</html>