{% extends "base.html" %}
{% load static %}




{% block content %}


        <div class="sort_panel">
        </div>





        <div class="right_panel_gallery">
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>

            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>

            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
            <div class="photo_block"><img src="{% static 'img/fb-42.jpg' %}" width="362" height="250"/></div>
        </div>

{% endblock %}