{% extends "base.html" %}
{% load static %}




{% block content %}

        <div class="middle-container" id="middle-container">
            <div class="middle-text" id="middle-text">Poznaj</div>
            <img src="{% static 'img/logo_es.png' %}" class="logo-slide" id="logo-slide"></img>
            <div class="skip-circle" id="skip-circle" onclick="essa()"></div>
        </div>



        <div class="slider-container" id="slider-container">
            <div class="embla">
                    <div class="gradient-fade-left"></div>
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide1"><img src="{% static 'img/fb-28.jpg' %}" width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide2"><img src="{% static 'img/fb-24.jpg' %} "  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide3"><img src="{% static 'img/fb-7.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide4"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide5"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide6"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide7"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide8"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                        </div>
                        <div class="gradient-fade-right"></div>
                    </div>
                </div>
                  <script type="text/javascript">
                    const wrap = document.querySelector(".embla");
                    const viewPort = wrap.querySelector(".embla__viewport");
                    const autoplay = EmblaCarouselAutoplay(
                        { delay: 3000, stopOnInteraction: false },
                        (emblaRoot) => emblaRoot.parentElement
                    );


                    const embla = EmblaCarousel(viewPort, {slidesToScroll: 4, skipSnaps: false, loop: true}, [autoplay]);

                  </script>
            </div>

        <div class="bottom-container" id="bottom-container">
            <div class="container">
                <div class="text-container">Odkryj szlak szczecińskich smaków</div>
                <a href="{% url 'restaurants_list' %}" class="button">Prowadź mnie</a>
            </div>
        </div>
    </div>


    <script>
        document.getElementById("middle-container").style.height = window.innerHeight + "px";
        document.getElementById("slider-container").style.height = window.innerHeight / 2 + "px";
        document.getElementById("bottom-container").style.height = window.innerHeight / 2 + "px";

        function essa() {
            var element = document.getElementById("slider-container");
            element.scrollIntoView({behavior: "smooth"});
        }

        window.onbeforeunload = () => {
            window.scrollTo(0, 0);
        };
    </script>

{% endblock %}