{% extends "base.html" %}
{% load static %}




{% block content %}

        <div class="left">
            <div class="text1">Najpyszniejsze miejsca w Szczecinie</div>
            <div class="look">
                <div class="line"></div>
                <div class="looktext">Zobacz wszystkie restauracje</div>
            </div>
            <div class="buttonleft">
                <a href="{% url 'restaurants_list' %}">
                    <div class="button">
                        <div class="fire"><img src="{% static 'img/fire.png' %}" width="20px" height="20px"></div>
                        <div class="buttontext">Zacznij</div>
                    </div>
                </a>
            </div>
        </div>


        <div class="right">
            <div class="photos">
                <div class="embla">
                    <div class="gradient-fade-left"></div>
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide1"><img src="{% static 'img/fb-28.jpg' %}" width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide2"><img src="{% static 'img/fb-24.jpg' %} "  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide3"><img src="{% static 'img/fb-7.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide4"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide5"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide6"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide7"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                            <div class="embla__slide">
                                <div class="embla__slide__inner" id="slide8"><img src="{% static 'img/fb-5.jpg' %}"  width="250" height="450"/></div>
                            </div>
                        </div>
                        <div class="gradient-fade-right"></div>
                    </div>
                </div>
                  <script type="text/javascript">
                    const wrap = document.querySelector(".embla");
                    const viewPort = wrap.querySelector(".embla__viewport");
                    const autoplay = EmblaCarouselAutoplay(
                        { delay: 3000, stopOnInteraction: false },
                        (emblaRoot) => emblaRoot.parentElement
                    );


                    const embla = EmblaCarousel(viewPort, {slidesToScroll: 4, skipSnaps: false, loop: true}, [autoplay]);

                  </script>
            </div>
            <div class="underphotos">
                <div class="circle"></div>
                <div class="firstline"></div>
                <div class="textunderphotos">Zobacz więcej</div>
                <div class="secondline"></div>
            </div>
        </div>

{% endblock %}