{% extends "base.html" %}
{% load static %}




{% block content %}

<div id="map"></div>

<script>

    let mapOptions = {
    center:[53.4255, 14.5659],
    zoom:12
}

let map = new L.map('map' , mapOptions);

let layer = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
map.addLayer(layer);

let marker = new L.Marker([ 53.40166060303407, 14.484306652844651]);
marker.addTo(map);

marker.bindPopup("<a href='{% url "restaurant" 10 %}'>Na Uboczu</a>");
marker.on('mouseover', function (m) {
    this.openPopup();
});
marker.on('mouseout', function (m) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker2 = new L.Marker([ 53.40802390679186, 14.49102130339558]);
marker2.addTo(map);

marker2.bindPopup("<a href='{% url "restaurant" 9 %}'>Restauracja Kuźnia</a>");
marker2.on('mouseover', function (m2) {
    this.openPopup();
});
marker2.on('mouseout', function (m2) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker3 = new L.Marker([ 53.393984917225296, 14.50196326551249]);
marker3.addTo(map);

marker3.bindPopup("<a href='{% url "restaurant" 8 %}'>La Rotonda</a>");
marker3.on('mouseover', function (m3) {
    this.openPopup();
});
marker3.on('mouseout', function (m3) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker4 = new L.Marker([ 53.43276979058968, 14.512448990926405]);
marker4.addTo(map);

marker4.bindPopup("<a href='{% url "restaurant" 7 %}'>La Casa De Kebab</a>");
marker4.on('mouseover', function (m4) {
    this.openPopup();
});
marker4.on('mouseout', function (m4) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker5 = new L.Marker([ 53.44123130910707, 14.48974912039133]);
marker5.addTo(map);

marker5.bindPopup("<a href='{% url "restaurant" 6 %}'>Pizzeria Perugia</a>");
marker5.on('mouseover', function (m5) {
    this.openPopup();
});
marker5.on('mouseout', function (m5) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker6 = new L.Marker([ 53.45505895333951, 14.551347463285072]);
marker6.addTo(map);

marker6.bindPopup("<a href='{% url "restaurant" 5 %}'>Thanh Long</a>");
marker6.on('mouseover', function (m6) {
    this.openPopup();
});
marker6.on('mouseout', function (m6) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker7 = new L.Marker([ 53.42397296376814, 14.559329377480795]);
marker7.addTo(map);

marker7.bindPopup("<a href='{% url "restaurant" 4 %}'>Buddha Thai & Fusion Restaurant</a>");
marker7.on('mouseover', function (m7) {
    this.openPopup();
});
marker7.on('mouseout', function (m7) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker8 = new L.Marker([ 53.42404819704924, 14.559344507493526]);
marker8.addTo(map);

marker8.bindPopup("<a href='{% url "restaurant" 3 %}'>Tokyo Sushi'n'Grill</a>");
marker8.on('mouseover', function (m8) {
    this.openPopup();
});
marker8.on('mouseout', function (m8) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker9 = new L.Marker([ 53.42474358099568, 14.561303579253888]);
marker9.addTo(map);

marker9.bindPopup("<a href='{% url "restaurant" 2 %}'>King John's Bagels</a>");
marker9.on('mouseover', function (m9) {
    this.openPopup();
});
marker9.on('mouseout', function (m9) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker10 = new L.Marker([ 53.44116180789728, 14.513433036006859]);
marker10.addTo(map);

marker10.bindPopup("<a href='{% url "restaurant" 1 %}'>Pizzeria Peperoni</a>");
marker10.on('mouseover', function (m10) {
    this.openPopup();
});
marker10.on('mouseout', function (m10) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker11 = new L.Marker([ 53.44180028396718, 14.511631161289019]);
marker11.addTo(map);

marker11.bindPopup("<a href='{% url "restaurant" 11 %}'>Bistro Pogodno</a>");
marker11.on('mouseover', function (m11) {
    this.openPopup();
});
marker11.on('mouseout', function (m11) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker12 = new L.Marker([ 53.441799884560695, 14.511629820186064]);
marker12.addTo(map);

marker12.bindPopup("<a href='{% url "restaurant" 12 %}'>Banh Mi Szczecin</a>");
marker12.on('mouseover', function (m12) {
    this.openPopup();
});
marker12.on('mouseout', function (m12) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker13 = new L.Marker([ 53.4404647827662, 14.495257845459225]);
marker13.addTo(map);

marker13.bindPopup("<a href='{% url "restaurant" 13 %}'>KEPS meat&roll</a>");
marker13.on('mouseover', function (m13) {
    this.openPopup();
});
marker13.on('mouseout', function (m13) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker14 = new L.Marker([ 53.44276037945441, 14.503197364469429]);
marker14.addTo(map);

marker14.bindPopup("<a href='{% url "restaurant" 14 %}'>Huong Sen</a>");
marker14.on('mouseover', function (m14) {
    this.openPopup();
});
marker14.on('mouseout', function (m14) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker15 = new L.Marker([ 53.441765391024006, 14.511561017206272]);
marker15.addTo(map);

marker15.bindPopup("<a href='{% url "restaurant" 15 %}'>Rybeczka Bułeczka</a>");
marker15.on('mouseover', function (m15) {
    this.openPopup();
});
marker15.on('mouseout', function (m15) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker16 = new L.Marker([ 53.440445179263946, 14.512876424877055]);
marker16.addTo(map);

marker16.bindPopup("<a href='{% url "restaurant" 16 %}'>Bar No Ham</a>");
marker16.on('mouseover', function (m16) {
    this.openPopup();
});
marker16.on('mouseout', function (m16) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker17 = new L.Marker([ 53.442735281628046, 14.502322864518497]);
marker17.addTo(map);

marker17.bindPopup("<a href='{% url "restaurant" 17 %}'>Pizza Pasta i Basta Łukasińskiego</a>");
marker17.on('mouseover', function (m17) {
    this.openPopup();
});
marker17.on('mouseout', function (m17) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker18 = new L.Marker([ 53.44619376672843, 14.501500976838406]);
marker18.addTo(map);

marker18.bindPopup("<a href='{% url "restaurant" 18 %}'>MoMo Pizza</a>");
marker18.on('mouseover', function (m18) {
    this.openPopup();
});
marker18.on('mouseout', function (m18) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker19 = new L.Marker([ 	53.450337425683884, 14.507020441411385]);
marker19.addTo(map);

marker19.bindPopup("<a href='{% url "restaurant" 19 %}'>Felicita Italian Bistro</a>");
marker19.on('mouseover', function (m19) {
    this.openPopup();
});
marker19.on('mouseout', function (m19) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker20 = new L.Marker([ 53.44139476551994, 14.489144605698671]);
marker20.addTo(map);

marker20.bindPopup("<a href='{% url "restaurant" 20 %}'>Solniczka Bistro</a>");
marker20.on('mouseover', function (m20) {
    this.openPopup();
});
marker20.on('mouseout', function (m20) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker21 = new L.Marker([ 53.442230539121795, 14.511883836172814]);
marker21.addTo(map);

marker21.bindPopup("<a href='{% url "restaurant" 21 %}'>Himitsu Sushi</a>");
marker21.on('mouseover', function (m21) {
    this.openPopup();
});
marker21.on('mouseout', function (m21) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker22 = new L.Marker([ 53.44692032512383, 14.492416895599547]);
marker22.addTo(map);

marker22.bindPopup("<a href='{% url "restaurant" 21 %}'>Oliwka. Bistro</a>");
marker22.on('mouseover', function (m22) {
    this.openPopup();
});
marker22.on('mouseout', function (m22) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker23 = new L.Marker([ 53.4493053298665, 14.505591907342193]);
marker23.addTo(map);

marker23.bindPopup("<a href='{% url "restaurant" 23 %}'>Na Zdrowie Bistro Unia Lubelska</a>");
marker23.on('mouseover', function (m23) {
    this.openPopup();
});
marker23.on('mouseout', function (m23) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker24 = new L.Marker([ 	53.427769755294655, 14.529611819816212]);
marker24.addTo(map);

marker24.bindPopup("<a href='{% url "restaurant" 24 %}'>Masmak</a>");
marker24.on('mouseover', function (m24) {
    this.openPopup();
});
marker24.on('mouseout', function (m24) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker25 = new L.Marker([ 53.42676959545056, 14.53294748435764]);
marker25.addTo(map);

marker25.bindPopup("<a href='{% url "restaurant" 25 %}'>Bar Mekong</a>");
marker25.on('mouseover', function (m25) {
    this.openPopup();
});
marker25.on('mouseout', function (m25) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker26 = new L.Marker([ 53.42799710742874, 14.530801801494139]);
marker26.addTo(map);

marker26.bindPopup("<a href='{% url "restaurant" 26 %}'>Mr Wang Asian Food</a>");
marker26.on('mouseover', function (m26) {
    this.openPopup();
});
marker26.on('mouseout', function (m26) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker27 = new L.Marker([ 53.42746005981987, 14.532132166011895]);
marker27.addTo(map);

marker27.bindPopup("<a href='{% url "restaurant" 27 %}'>Mr Wang Asian Food</a>");
marker27.on('mouseover', function (m27) {
    this.openPopup();
});
marker27.on('mouseout', function (m27) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker28 = new L.Marker([ 53.424186982460924, 14.530543984365389]);
marker28.addTo(map);

marker28.bindPopup("<a href='{% url "restaurant" 28 %}'>Szaszłykarnia Merkury</a>");
marker28.on('mouseover', function (m28) {
    this.openPopup();
});
marker28.on('mouseout', function (m28) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker29 = new L.Marker([ 53.42753677754438, 14.532046342021408]);
marker29.addTo(map);

marker29.bindPopup("<a href='{% url "restaurant" 29 %}'>Grilled Chicken Burgers GC's</a>");
marker29.on('mouseover', function (m29) {
    this.openPopup();
});
marker29.on('mouseout', function (m29) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker30 = new L.Marker([ 53.43334138351797, 14.534536567976415]);
marker30.addTo(map);

marker30.bindPopup("<a href='{% url "restaurant" 30 %}'>Corner House</a>");
marker30.on('mouseover', function (m30) {
    this.openPopup();
});
marker30.on('mouseout', function (m30) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker31 = new L.Marker([ 53.43219026951813, 14.539429436770686]);
marker31.addTo(map);

marker31.bindPopup("<a href='{% url "restaurant" 31 %}'>Pecorino Pizza & Pasta</a>");
marker31.on('mouseover', function (m31) {
    this.openPopup();
});
marker31.on('mouseout', function (m31) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker32 = new L.Marker([ 53.42400559920345, 14.560010998343875]);
marker32.addTo(map);

marker32.bindPopup("<a href='{% url "restaurant" 32 %}'>Harnaś</a>");
marker32.on('mouseover', function (m32) {
    this.openPopup();
});
marker32.on('mouseout', function (m32) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker33 = new L.Marker([ 53.423792724051744, 14.559883385180378]);
marker33.addTo(map);

marker33.bindPopup("<a href='{% url "restaurant" 33 %}'>Chinkalnia Restauracja Gruzińska</a>");
marker33.on('mouseover', function (m33) {
    this.openPopup();
});
marker33.on('mouseout', function (m33) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker34 = new L.Marker([ 	53.42510572905343, 14.560171765533784]);
marker34.addTo(map);

marker34.bindPopup("<a href='{% url "restaurant" 34 %}'>Baraż Restauracja</a>");
marker34.on('mouseover', function (m34) {
    this.openPopup();
});
marker34.on('mouseout', function (m34) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker35 = new L.Marker([ 	53.42432783070708, 14.559163670424388]);
marker35.addTo(map);

marker35.bindPopup("<a href='{% url "restaurant" 35 %}'>Restauracja Plenty</a>");
marker35.on('mouseover', function (m35) {
    this.openPopup();
});
marker35.on('mouseout', function (m35) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker36 = new L.Marker([ 53.42413994267318, 14.559861210232048]);
marker36.addTo(map);

marker36.bindPopup("<a href='{% url "restaurant" 36 %}'>Bachus</a>");
marker36.on('mouseover', function (m36) {
    this.openPopup();
});
marker36.on('mouseout', function (m36) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker37 = new L.Marker([ 53.42673440173379, 14.554490275347765]);
marker37.addTo(map);

marker37.bindPopup("<a href='{% url "restaurant" 37 %}'>Restauracja Dzika Gęś</a>");
marker37.on('mouseover', function (m37) {
    this.openPopup();
});
marker37.on('mouseout', function (m37) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker38 = new L.Marker([ 53.42778120064915, 14.556580902758306]);
marker38.addTo(map);

marker38.bindPopup("<a href='{% url "restaurant" 38 %}'>Mała Tumska</a>");
marker38.on('mouseover', function (m38) {
    this.openPopup();
});
marker38.on('mouseout', function (m38) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker39 = new L.Marker([ 53.42382825202231, 14.56018891591807]);
marker39.addTo(map);

marker39.bindPopup("<a href='{% url "restaurant" 39 %}'>Restauracja Planeta</a>");
marker39.on('mouseover', function (m39) {
    this.openPopup();
});
marker39.on('mouseout', function (m39) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker40 = new L.Marker([ 53.42463800549602, 14.561353777745763]);
marker40.addTo(map);

marker40.bindPopup("<a href='{% url "restaurant" 40 %}'>ARAMIA Podzamcze</a>");
marker40.on('mouseover', function (m40) {
    this.openPopup();
});
marker40.on('mouseout', function (m40) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker41 = new L.Marker([ 53.42613301624902, 14.561619875448017]);
marker41.addTo(map);

marker41.bindPopup("<a href='{% url "restaurant" 41 %}'>Timo Szczecin</a>");
marker41.on('mouseover', function (m41) {
    this.openPopup();
});
marker41.on('mouseout', function (m41) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker42 = new L.Marker([ 53.42746397597802, 14.553022238432659]);
marker42.addTo(map);

marker42.bindPopup("<a href='{% url "restaurant" 42 %}'>Restauracja u Radeckiego</a>");
marker42.on('mouseover', function (m42) {
    this.openPopup();
});
marker42.on('mouseout', function (m42) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker43 = new L.Marker([ 53.425773071400414, 14.552706281855443]);
marker43.addTo(map);

marker43.bindPopup("<a href='{% url "restaurant" 43 %}'>Palmyra</a>");
marker43.on('mouseover', function (m43) {
    this.openPopup();
});
marker43.on('mouseout', function (m43) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker44 = new L.Marker([ 53.424444637858606, 14.56321932882643]);
marker44.addTo(map);

marker44.bindPopup("<a href='{% url "restaurant" 44 %}'>THE KITCHEN MEET & EAT</a>");
marker44.on('mouseover', function (m44) {
    this.openPopup();
});
marker44.on('mouseout', function (m44) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker45 = new L.Marker([ 53.42633863494818, 14.561819256790603]);
marker45.addTo(map);

marker45.bindPopup("<a href='{% url "restaurant" 45 %}'>Browar pod Zamkiem</a>");
marker45.on('mouseover', function (m45) {
    this.openPopup();
});
marker45.on('mouseout', function (m45) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker46 = new L.Marker([ 53.43404037776917, 14.544516701555496]);
marker46.addTo(map);

marker46.bindPopup("<a href='{% url "restaurant" 46 %}'>El Globo Pub & Restaurant</a>");
marker46.on('mouseover', function (m46) {
    this.openPopup();
});
marker46.on('mouseout', function (m46) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker47 = new L.Marker([ 53.42914141539513, 14.549450964453191]);
marker47.addTo(map);

marker47.bindPopup("<a href='{% url "restaurant" 47 %}'>HOSPUDKA Czeska Restauracja</a>");
marker47.on('mouseover', function (m47) {
    this.openPopup();
});
marker47.on('mouseout', function (m47) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker48 = new L.Marker([ 53.42985654687104, 14.556546694686965]);
marker48.addTo(map);

marker48.bindPopup("<a href='{% url "restaurant" 48 %}'>Spiżarnia Szczecińska</a>");
marker48.on('mouseover', function (m48) {
    this.openPopup();
});
marker48.on('mouseout', function (m48) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker49 = new L.Marker([ 53.43174937262855, 14.551483051602705]);
marker49.addTo(map);

marker49.bindPopup("<a href='{% url "restaurant" 49 %}'>Karczma Polska Pod Kogutem</a>");
marker49.on('mouseover', function (m49) {
    this.openPopup();
});
marker49.on('mouseout', function (m49) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});

let marker50 = new L.Marker([ 53.426706026225915, 14.549200170885825]);
marker50.addTo(map);

marker50.bindPopup("<a href='{% url "restaurant" 50 %}'>Restauracja Va Banque</a>");
marker50.on('mouseover', function (m50) {
    this.openPopup();
});
marker50.on('mouseout', function (m50) {
    setTimeout( () =>{
        this.closePopup();
    },1000);
});
</script>

{% endblock %}