{% extends "base.html" %}
{% load static %}



{% block content %}


        <div class="sort_panel">
            <div class="sort_label">Sort:</div>
            <div class="sort_options">
                <select>
                    <option>Cena najmniejsza</option>
                    <option>Cena największa</option>
                </select>
            </div>
            <div class="sort_label">Odległość: </div>
            <div class="sort_options">
                <select>
                    <option>Jak najbliżej</option>
                    <option>do 5km</option>
                    <option>do 10km</option>
                    <option>do 15km</option>
                </select>
            </div>
        </div>



        <div class="left_panel">
            <div class="categories_panel">
                <h2>Kategorie</h2>
            </div>
        </div>



            <div class="right_panel">
                <div class="prototype_restaurantBox">
                    <div class="restaurant_img"><img src="{% static 'img/FB-20.png' %}" width="326" height="180"/></div>
                    <div class="restaurant_name">La Casa de Kebab - Szczecin</div>
                    <div class="restaurant_content">Najlpeszy Kebab w Szczecinie. Potwierdzają nawet ludzie z Gryfina</div>
                    <div class="restaurant_cost">20zł / szt</div>
                    <div class="restaurant_check_button">Sprawdź</div>
                </div>
            </div>



{% endblock %}